html{
    background-image: linear-gradient(to right, rgb(235, 235, 235), rgb(225, 233, 241));
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-family: Calibri;
}

body {
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: #000;
}

.indexContainer{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.subIndexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 550px;
    height: 600px; /* Deixe a altura do conteúdo determinar a altura do body */
    border-radius: 5px 0 0 5px;
    padding: 15px; /* Use padding em vez de margin para evitar interferir na centralização */
    box-sizing: border-box; /* Inclui borda e padding dentro da largura */
    background-color: white;
}

.titleLeft{
    color:rgb(160, 0, 0);
}

.subIndexContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 600px; /* Deixe a altura do conteúdo determinar a altura do body */
    border-radius: 0 5px 5px 0;
    padding: 15px; /* Use padding em vez de margin para evitar interferir na centralização */
    box-sizing: border-box; /* Inclui borda e padding dentro da largura */
    background-image: linear-gradient(45deg, rgb(192, 48, 48), rgb(236, 43, 75));
}

.signupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.titleRight{
    font-size: 42px;
    margin: 0 0 50px 0;
    color: white;
    font-weight: bold;
}

.subTitleRight{
    color: white;
    font-size: 20px;
}

.titleButtonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.imgLogo{
    border-radius: 5px;
    padding: 7px;
    width: 50%;
    margin-top: 30px;
}

.imgLogo span{
    text-decoration: underline;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.loginMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInput, .passInput{
    width: 250px;
    height: 25px;
    padding: 1px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: solid 1px #000;
}

.btns{
    display: flex;
}

.signinBtn{
    background-image: linear-gradient(45deg, rgb(192, 48, 48), rgb(236, 43, 75));
    border: none;
    width: 300px;
}

.signupBtn{
    background-image: linear-gradient(45deg, rgb(192, 48, 48), rgb(236, 43, 75));
    border: solid 2px white;
    width: 180px;
    font-size: 2px;
}

.signinBtn, .signupBtn{
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 20px;
}

.signinBtn:hover, .signupBtn:hover{
    transition: .3s;
    opacity: 80%;
}
