html, body {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.abc{
    color: #000;
    font-size: 30px;
}

.header{
    text-align: center;
    margin-bottom: 30px;
    border: solid 1px #000;
}

a{
    color: #000000;
    text-decoration: none;
}

.header a{
    font-size: 30px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    height: auto; /* Deixe a altura do conteúdo determinar a altura do body */
    border-radius: 5px;
    border: solid 2px #000;
    text-align: center;
}

.funcionariosNomes{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionarioContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 120px;
    background-color: rgb(210, 211, 221);
    margin: 10px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.funcionarioContainer a{
    font-size: 30px;
    font-family: Calibri;
}

.funcionariosNomes li{
    font-size: 20px;
    margin: 0 50px;
    cursor: pointer;
}

.funcionarioProfileImage{
    border-radius: 50%;
    padding: 0 10px;
    width: 100px;
}

.infoUser span{
    text-decoration: underline;
}

.skills{
    display: flex;
    justify-content: center; 
    list-style-type: none; 
    gap: 10px; 
    padding: 0; 
    margin: 25px 0 20px 0; 
    text-align: center;
}

.skills li {
    padding: 5px 10px; 
    background-color: lightgray; 
    border-radius: 3px; 
}

.actions{
    display: flex;
    width: 90%;
    justify-content: right;
}

.addBtn, .editBtn, .deleteBtn{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}

.addBtn, .editBtn, .deleteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    padding: 5px;
    margin: 10px 0 0 40px;
}

.addBtn:hover,.editBtn:hover, .deleteBtn:hover{
    opacity: 90%;
}

.addBtn img, .editBtn img, .deleteBtn img{
    width: 50px;
    margin: 0;
    object-fit: cover;
}

.deleteBtn img{
    width: 55px;
}