* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Estilizando o container principal */
.mainContainer {
    width: 90%;
    min-height: 70vh;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.mainContainer h1 {
    margin: 20px 0 40px 0;
    font-weight: bold;
    color: #b90000;
}

.funcionariosNomes {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.funcionariosNomes thead th {
    background-color: #c23131;
    color: #ffffff;
    border-color: transparent;
}

.funcionariosNomes thead th:first-child {
    border-radius: 8px 0 0 0;
}

.funcionariosNomes thead th:last-child {
    border-radius: 0 8px 0 0;
}

.funcionariosNomes th, .funcionariosNomes td {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #ececec;
}

.funcionariosNomes th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.funcionariosNomes tr:nth-child(even) {
    background-color: #f0f0f0;
}

.funcionariosNomes tr:nth-child(odd) {
    background-color: #ffffff;
}

.funcionariosNomes tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.funcionarioOuterDiv {
    text-decoration: none;
    color: inherit;
}

.infoUser {
    font-size: 18px;
    color: #555;
}

.infoUser:first-child {
    font-weight: bold;
}


/* Estilizando ações */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.actionsRight, .actionsLeft {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

button img {
    width: 40px;
}

button:hover {
    transform: scale(1.1);
}

.addBtn img, .editBtn img, .deleteBtn img {
    width: 35px;
}

/* Botão do relatório */
.reportBtn img {
    width: 50px;
}

.calendarBtn img {
    width: 45px;
}

/* Responsividade */
@media (max-width: 768px) {
    .funcionarioContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .infoUser {
        text-align: left;
        margin-bottom: 10px;
    }

    .actions {
        flex-direction: column;
    }

    button {
        margin-bottom: 15px;
    }
}
