html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-family: Calibri;
}

a{
    text-decoration: none;
    color: #000;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: white;
    font-size: 20px;
}

.skillsContainer p{
    margin: 0 0 20px 0;
}

h1{
    margin: 10px 0;
}

h2{
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 15px 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0 0 2px #b8bbbe;
    font-size: 20px;
    color:rgb(73, 73, 73);
}

button{
    width: 150px;
    margin: 20px 10px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 20px;
    transition: .3s;
    
    background-color: rgb(236, 43, 75);
    border: none;
}

button:hover{
    opacity: 60%;
}

.skillsList{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow-y: scroll;
    margin: 0 0 10px 0;
    width: 90%;
    border-radius: 5px;
    box-shadow: inset 0 0 2px #b8bbbe;
}

.skillsList a img{
    width: 20px;
}

.skillsList li{
    border: 1px solid rgba(129, 129, 129, 0.377);
    border-width: 2px 2px 0 2px;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    padding: 3px;
}

.skillsList ul{
    margin: 0;
    height: 100%;
}