{% extends 'layout.html'%}
{% load static %}

{% block header %}
{% endblock %}

{% block title %}
    Bem vindo!
{% endblock %}

{% block content %}
    <div class="indexContainer">
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <img class="imgLogo" src="{% static 'app/img/brose_logo_com.svg' %}" alt="">
        <h1>Bem vindo a pagina de Login!</h1>
        <button class="loginBtn" onclick="window.location.href='{% url 'login' %}'">Login</button>
        <button class="registerBtn" onclick="window.location.href='{% url 'register' %}'">Registrar</button>

    </div>
    <script src="{% static 'app/js/index.js' %}"></script>
{% endblock %}





