{% extends 'layout.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block title %}
    Bem-vindo!
{% endblock %}

{% block content %}
    <button style="border-radius: 50%; border: solid; padding: 20px" class="darkthemeButton"></button>
    <div class="indexContainer">
        <div class="subIndexContainer">
            <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
            <img class="imgLogo" src="{% static 'app/img/brose_logo.png' %}" alt="">

            <form class="containerForm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <p>Nome de Usuario</p><input type="text" name="username" placeholder="Nome de usuário">
                <p>Senha</p><input type="password" name="password" placeholder="Senha">
                <button class="signinBtn" type="submit">Login</button>
            </form>
            
        </div>
        <div class="subIndexContainer2">
            <div class="signupContainer">
                <p class="titleRight">Bem-vindo à página de login</p>
                <p class="subTitleRight">Não está cadastrado?</p>
                <button class="signupBtn" onclick="window.location.href='{% url 'register' %}'">
                    Sign up
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'app/js/index.js' %}"></script>
    <script src="{% static 'app/js/darktheme.js' %}"></script>
{% endblock %}
