<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'app/img/favicon/brose-favicon.png' %}" type="image/x-icon">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <script>
        const darkImagePath = "{% static 'app/img/icons/dark-mode.png' %}";
        const lightImagePath = "{% static 'app/img/icons/light-mode.png' %}";
    </script>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>