<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'app/img/favicon/brose-favicon.png' %}" type="image/x-icon">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
</head>
<body>
    <button style="position: absolute; top: 15px; right: 10px;  cursor: pointer; border-radius: 50%; border: none; padding: 0; height: 30px; width: 30px" class="darkthemeButton"><img src="{% static 'app/img/icons/dark-mode.png' %}" style="margin: 0; width: 30px; height: 30px">
    </button>

    {% block header %}
        <nav class="header">
            <a href="/">Home</a>
        </nav>
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>