{% extends 'layout.html'%}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <section class="containerLogin">
        <div class="imgLogo">
            <img class="imgLogo" src="{% static 'app/img/brose_logo.png' %}" alt="">
        </div>
        <h1 class="title">Olá, faça o login para entrar!</h1>
        
    </section>
    <script src="{% static 'app/js/login.js' %}"></script>
{% endblock %}