{% extends 'layout.html'%}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <section class="containerLogin">
        <div class="imgLogo">
            <img class="imgLogo" src="{% static 'app/img/brose_logo_com.svg' %}" alt="">
        </div>
        <h1 class="title">Olá, faça o login para entrar!</h1>
        <form method="post">

            {% csrf_token %}
            <div class="formUser">
            <p>Nome de usuário: </p> 
                {{ form.username }}   
                {{ form.username.errors }}
            </div>
            <div class="formPass">
            <p>Senha: </p> 
                {{ form.password }}   
                {{ form.password.errors }}
            </div>
            <div class="btns"> 
                <button class="loginBtn" type="submit">Login</button>
                <button class="registerBtn"><a href="{% url 'register' %}">Registrar</a></button>
            </div>
        </form>
    </section>
{% endblock %}