{% extends 'layout.html'%}
{% load static %}

{% block title %}
    Entrou
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="mainContainer">
        <h1>Lista de Funcionários</h1>
        <ul class="funcionariosNomes">
            {% for funcionario in funcionarios %}
                <a class="funcionarioOuterDiv" href="{% url 'funcionario_detail' funcionario.id %}">
                    <div class="funcionarioContainer">
                        <img class="funcionarioProfileImage" src="{% static 'app/img/user.jpg' %}" alt="">
                        <li class="">
                            {{ funcionario.nome }}
                        </li>
                    </div>
                </a>
            {% endfor %}
        </ul>
    </div>
    <div class="actions">
        <button class="addBtn"><img src="{% static 'app/img/icons/add.png' %}" alt=""></button>
        <button class="editBtn"><img src="{% static 'app/img/icons/edit.png' %}" alt=""></button>
        <button class="deleteBtn"><img src="{% static 'app/img/icons/delete.png' %}" alt=""></button>
    </div>
    <a href="{% url 'relatorio_dinamico' %}">Relatório</a>
    <a href="{% url 'calendario' %}">Calendário</a>
{% endblock %}
