{% extends 'layout.html'%}
{% load static %}

{% block title %}
    Entrou
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="mainContainer">
        <div class="containerHeader">
            <h1>Lista de Funcionários</h1>            
        </div>
        <ul class="funcionariosNomes">
            {% for funcionario in funcionarios %}
                <a class="funcionarioOuterDiv" href="{% url 'funcionario_detail' funcionario.id %}">
                    <div class="funcionarioContainer">
                        <li class="infoUser">
                            {{ funcionario.nome }}
                        </li>
                        <li class="infoUser">
                            {{ funcionario.cargo }}
                        </li>
                        <li class="infoUser">
                            {{ funcionario.data_nascimento|date:"d/m/Y" }}
                        </li>
                    </div>
                </a>
            {% endfor %}
        </ul>
        
        <div class="actions">
            <div class="actionsRight">
                <button class="reportBtn" onclick="location.href='{% url 'relatorio_dinamico' %}'">
                    <img src="{% static 'app/img/icons/report.png' %}" alt="">
                </button>
            
                <button class="calendarBtn" onclick="location.href='{% url 'calendario' %}'">
                    <img src="{% static 'app/img/icons/calendar.png' %}" alt="">
                </button>
            </div>
    
            <div class="actionsLeft">
                <button class="addBtn"><img src="{% static 'app/img/icons/add.png' %}" alt=""></button>
                <button class="editBtn"><img src="{% static 'app/img/icons/edit.png' %}" alt=""></button>
                <button class="deleteBtn"><img src="{% static 'app/img/icons/delete.png' %}" alt=""></button>
            </div>
        </div>
    </div>

{% endblock %}
