{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Registre-se
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'app/css/register.css' %}">
    <div class="registerContainer">
        <section class="containerLogin">
            <div class="containerLogo">
                <img class="imgLogo" src="{% static 'app/img/brose_logo.png' %}" alt="">
            </div>
            <h1 class="title">Preencha os campos abaixo</h1>
            <form method="post">
                {% csrf_token %}
                <div class="formUser">
                <p>Nome de usuário</p>{{ form.username }}
                </div>
                <div class="formPassOne">
                <p>Defina uma senha</p>
                    {{ form.password1 }} {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                    {% endif %}
                    <ul class="passRules">
                        <li>Deve conter no minimo 8 caracteres.</li>
                        <li>Não deve ser totalmente númerica.</li>
                        <li>Não deve ser uma senha comum.</li>
                    </ul>
                </div>
                <div class="formPassTwo">
                <p>Confirme a senha</p>
                    {{ form.password2 }} {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                    {% endif %}
                <ul class="passRules">
                    <li>Deve ser igual a senha criada anteriormente.</li>
                    <li>Cuidado com letras maiúsculas.</li>
                    <li>Cuidado com caracteres especiais (@#$_-:).</li>
                </ul>
                </div>
                <div class="btns">
                <button class="signupBtn" type="submit">Sign up</button>
                <button class="signinBtn" onclick="window.location.href='{% url 'index' %}'">Sign in</button>
                </div>
            </form>
        </section>
    </div>
    <script id="errors-json" type="application/json">{{ errors_json|safe }}</script>
    <script src="{% static 'app/js/register.js' %}"></script>
{% endblock %}