html, body {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.header{
    text-align: center;
    margin-bottom: 30px;
    border: solid 1px #000;
}

.header a{
    font-size: 30px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; /* Deixe a altura do conteúdo determinar a altura do body */
    border-radius: 5px;
    border: solid 2px #000;
    text-align: center;

}

.imgUser{
    border-radius: 5px;
    padding: 7px;
    width: 40%;
}

.infoUser span{
    text-decoration: underline;
}

.skills{
    display: flex;
    justify-content: center; 
    list-style-type: none; 
    gap: 10px; 
    padding: 0; 
    margin: 25px 0 20px 0; 
    text-align: center;
}

.skills li {
    padding: 5px 10px; 
    background-color: lightgray; 
    border-radius: 3px; 
}

.actions{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.editBtn,.deleteBtn,.selectBtn{
    cursor: pointer;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 25px;
}

.editBtn{
    background-color: #6494ed99;
}

.deleteBtn{
    background-color: #b22222a9;
}

.selectBtn{
    background-color: #228b22a9;
}

.editBtn:hover,.deleteBtn:hover,.selectBtn:hover{
    scale: 1.07;
    transition: .3s;
    opacity: 90%;
}